extends layout

block content
    h1 Books
    p
        a.button(href= 'books/new') Create New Book 

    br 
    if(searchVal)
        h3= `Searching for: '${searchVal}'`

    form(action=`/books` method="get")
        p
            input(name="search" type="text" id="searchInput" value=searchVal)
            input(type="submit" value="Search" id="searchBtn")
            br
            - let n = 0;
            while n < books.count
                - n+=5
                input(name="page" type="submit" value=n/5 id="pageBtn")

    table 
        thead 
            tr 
                th Title 
                th Author 
                th Genre 
                th Year
        tbody 
        each book in books.rows
            - i++;
            tr
                td
                    a(href= `books/${book.id}`)= book.title
                td= book.author
                td= book.genre 
                td= book.year
    br
    p 
        a.button(href="/books") Clear Search